{% extends "bootstrap/base.html" %}

<html>
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/app.css" />
    </head>
    <body class="body">
        {% block content %}
        {% endblock %}
    </body>
</html>
