{% extends "base.html" %}

{% block content %}

<div class="container center_div">

<h1 class="text-center well-lg"> {{title}} </h1>
<div class="text-center"><img src="{{url_for('static', filename='Hoot Logo Final.jpg')}}"  class="img-fluid" height="250em" width="400em"></div>

<br><br>
<button id="loginButton" class="btn btn-default btn-lg btn-primary btn-block" onclick="window.location.href='{{ url_for('login') }}';"> Login </button>

<button id="signupButton" class="btn btn-default btn-lg btn-primary btn-block" onclick="window.location.href='{{ url_for('signup') }}';"> Sign Up </button>

{% endblock %}
