{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('welcome')}}">HOOT</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text"><a href="{{ url_for('welcome')}}">Home</a></li>
            <li class="navbar-text"><a href="{{ url_for('report') }}">Reports</a></li>
            <li class="navbar-text"><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
        </div>
    </div>
</nav>

<h1 class="form-signin-heading text-center well-lg"> {{title}} </h1>

<div class="container center_div">
    
    <form action = '/report' method='post'>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.startDate) }}
        {{ wtf.form_field(form.endDate) }}

        <button class="btn btn-lg btn-primary btn" type="submit"> Generate Reports </button>
    </form>
</div>

</div>
{% endblock %}
