{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container center_div">
  <h1 class="text-center well-lg"> {{title}} </h1>

  <form action = '' method='post'>

    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign Up </button>

  </form>
</div>
{% endblock %}
