{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('welcome')}}">HOOT</a>
        </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-text"><a href="{{ url_for('welcome')}}">Home</a></li>
          <li class="navbar-text"><a href="{{ url_for('report') }}">Reports</a></li>
          <li class="navbar-text"><a href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
      </div>
  </div>
</nav>

<div class="container-fluid center_div">
<h1 class="text-center well-lg"> Welcome {{ name }}! </h1>

</div>
{% endblock %}
